.site-content
{
    margin-top: 30px;
}
.post-edit-link {
    color: #333333!important;
    &:hover {
        color: #966bd6!important;
        text-decoration: none;
    }
}
.page-header
{
    padding: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
}