.widget-container
{
    padding: 30px;
    background-color: #fff;
}
.widget
{
    margin-bottom: 30px;
  .widget-title
  {
    font-size: 30px;
  }
  ul
  {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    li
    {
      position: relative;
      display: block;
      padding: .75rem 3px;
      margin-bottom: -1px;
      background-color: #fff;
      border: 0;
      a
      {
        color: #333;
        &:hover
        {
          color: #966bd6;
          text-decoration: none;
        }
      }
    }
  }

}
// Search Bar
.elegance-search-form
{
    .form-control
    {
        border-radius: 0;
    }
}
  // Contact Form 7 ( Alert )
  .alert
  {
    border: 0!important;
    border-radius: 0!important;
  }
  .alert-primary
  {
    color: #563d7c!important;
    background-color: #ffffff!important;
    border-left: 5px solid #563d7c!important;
    a {
      color: #563d7c!important;
      &:hover {
        color: #333333!important;
        text-decoration: none;
      }
    }
  }