body
{
    background-color: #eee!important;
}
// Navbar
$navbar_default_background: #222222!important;
$navbar_default_text_color: #ffffff;

// Site Footer
$footer_default_background: #222222!important;
$footer_default_text_color: #ffffff;
$footer_default_link_color: #966bd6;